PORT=5000

# Replace with your own MongoDB connection string (local or MongoDB Atlas)
# Local example:
# MONGO_URI=mongodb://127.0.0.1:27017/bookstore
# Atlas example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/bookstore
MONGO_URI=your_mongodb_connection_string_here
